body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #444;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

a {
  color: #444;
  text-decoration: none;
}

a.active {
  padding-bottom: 5px;
  border-bottom: 2px solid #d25ca1;
}

a.button.active {
  padding-bottom: 5px;
  border-bottom: 4px solid #d25ca1;
}

a:visited {
  color: #444;
}

a:hover {
  color: #5cadd2;
}

a.cta {
  color: #d25ca1;
}

a.cta:visited {
  color: #d25ca1;
}

a.cta:hover {
  color: #f27cb1;
}

a.cta {
  color: #d25ca1;
}

a.cta:visited {
  color: #d25ca1;
}

a.cta:hover {
  color: #f27cb1;
}

button {
  font-size: 22px;
  padding: 15px 25px;
  background-color: #5cadd2;
  color: #fff;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
}

a.button {
  font-size: 22px;
  padding: 15px 25px;
  background-color: #5cadd2;
  color: #fff;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

a.button:hover {
  color: #1c6d92;
}

button:disabled {
  background-color: #777;
}

button:hover {
  color: #1c6d92;
}

button.cta {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d25ca1;
  color: #ddd;
}

button.cta:hover {
  color: #fff;
}